*,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
}

.screen {
  height: 100%;
  align-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  background-color: #FBFBFB;

  @media screen and (min-width:1180px) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.container {
  padding: 16px;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 6px;
}

.other-tab {
  min-height: 400px;
  display: grid;
  place-content: center;
  font-family: "Work Sans", Arial, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width:640px) {
  .container {
    padding: 20px;
  }
}

@media screen and (min-width:1024px) {
  .container {
    padding: 40px;
  }
}